# Default values for ssh.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: registry.cn-shanghai.aliyuncs.com/happyzh/ssh
  tag: 3.9
  pullPolicy: IfNotPresent

ssh:
  host: ""
  port: 22
  user: "root"
  identity:
    secret: "ssh-secret"
    key: "id_ed25519"
  forwards:
    local: []
    remote: []  # eg. "0.0.0.0:22:gitlab:22"
  remote_command: ""
  timeout: 0  # for tunnel, set this to 600 is recommended
  extra_params:
    ServerAliveInterval: 60
    StrictHostKeyChecking: yes  # normally no


imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

nodeSelector: {}

tolerations: []

affinity: {}
