global:
#  gitlabVersion: "12.0.3"  # use chart app version
  hosts:
    domain: happyzh.com
    hostSuffix: git
    https: true
    externalIP: "10.0.2.80"
    gitlab:
      name: git.happyzh.com
      https: true

  edition: ee
  enterpriseImages:
    migrations:
      repository: registry.cn-shanghai.aliyuncs.com/zh-mirror/registry.gitlab.com_gitlab-org_build_cng_gitlab-rails-ee
    sidekiq:
      repository: registry.cn-shanghai.aliyuncs.com/zh-mirror/registry.gitlab.com_gitlab-org_build_cng_gitlab-sidekiq-ee
    task-runner:
      repository: registry.cn-shanghai.aliyuncs.com/zh-mirror/registry.gitlab.com_gitlab-org_build_cng_gitlab-task-runner-ee
    unicorn:
      repository: registry.cn-shanghai.aliyuncs.com/zh-mirror/registry.gitlab.com_gitlab-org_build_cng_gitlab-unicorn-ee
      workhorse:
        repository: registry.cn-shanghai.aliyuncs.com/zh-mirror/registry.gitlab.com_gitlab-org_build_cng_gitlab-workhorse-ee
  certificates:
    image:
      repository: registry.cn-shanghai.aliyuncs.com/zh-mirror/registry.gitlab.com_gitlab-org_build_cng_alpine-certificates

gitlab:
  gitlab:
    gitaly:
      image:
        repository: registry.cn-shanghai.aliyuncs.com/zh-mirror/registry.gitlab.com_gitlab-org_build_cng_gitaly
      persistence:
        size: 20Gi
        accessMode: ReadWriteMany
        enabled: true
        storageClass: "slow"
        volumeName: "zh-gitlab-gitaly"

    gitlab-shell:
      image:
        repository: registry.cn-shanghai.aliyuncs.com/zh-mirror/registry.gitlab.com_gitlab-org_build_cng_gitlab-shell

    unicorn:
      ingress:
        enabled: true
        tls:
          enabled: true
          secretName: git.happyzh.com

    gitlab-monitor:
      image:
        repository: registry.cn-shanghai.aliyuncs.com/zh-mirror/registry.gitlab.com_gitlab-org_build_cng_gitlab-monitor

  postgresql:
    install: true

  minio:
    image: registry.cn-shanghai.aliyuncs.com/zh-mirror/minio_minio
    minioMc:
      image: registry.cn-shanghai.aliyuncs.com/zh-mirror/minio_mc
    persistence:
      enabled: false
      storageClass:

  prometheus:
    configmapReload:
      image:
        repository: registry.cn-shanghai.aliyuncs.com/zh-mirror/jimmidyson_configmap-reload
    initChownData:
      image:
        repository: registry.cn-shanghai.aliyuncs.com/zh-mirror/busybox
    server:
      persistentVolume:
        enabled: false
    rbac:
      create: true

  redis:
    metrics:
      image: registry.cn-shanghai.aliyuncs.com/zh-mirror/oliver006_redis_exporter
    persistence:
      enabled: false

  certificates:
    image:
      repository: registry.cn-shanghai.aliyuncs.com/zh-mirror/registry.gitlab.com_gitlab-org_build_cng_alpine-certificates

  certmanager-issuer:
    image:
      repository: registry.cn-shanghai.aliyuncs.com/zh-mirror/registry.gitlab.com_gitlab-org_build_cng_kubectl
    email: 475647575@qq.com

  certmanager:
    image:
      repository: registry.cn-shanghai.aliyuncs.com/zh-mirror/quay.io_jetstack_cert-manager-controller
    rbac:
      create: true

  gitlab-runner:
    rbac:
      create: true

  nginx-ingress:
    image:
      repository: registry.cn-shanghai.aliyuncs.com/zh-mirror/quay.io_kubernetes-ingress-controller_nginx-ingress-controller
    defaultBackend:
      image:
        repository: registry.cn-shanghai.aliyuncs.com/zh-mirror/k8s.gcr.io_defaultbackend

  shared-secrets:
    image:
      repository: registry.cn-shanghai.aliyuncs.com/zh-mirror/registry.gitlab.com_gitlab-org_build_cng_kubectl
    selfsign:
      image:
        repository: registry.gitlab.com/gitlab-org/build/cng/cfssl-self-sign
